<div class="ekart-product-container">
  <app-search></app-search>
  <app-product-list></app-product-list>
  <!-- <div *ngFor="let item of listOfString">
    <p>this is the message "{{item}}</p>
  </div> -->
  <!-- <img [src]="mobileSrc" />
  <p>Name : {{ product.name }}</p>
  <p>Price : {{ product.price }}</p>
  <p>Color : {{ product.color }}</p>
  <p>Discounted Price : {{ getDiscount() }}</p>
  <p>
    stock : <span [style.color]="getStockColor()">{{ inStock }}</span>
  </p>

    <button class="btn btn-danger" (click)="decCounter()" [disabled]="cartCounter < 1">-</button>
        <span>{{cartCounter}}</span>
    <button class="btn btn-success" (click)="incCounter()" [disabled]= "cartCounter === product.stock">+</button>
    
  <button class="btn btn-primary" [disabled]="product.stock === 0">
    Buy Now
  </button>
  <p>the name : {{ name }}</p> -->
</div>
